# Copyright 2024-2025 BrycensRanch <brycengranville@outlook.com> & ShareX Team
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Name=SnapX
Comment=Capture, share, and boost productivity.
Exec=snapx-ui %U
Icon=io.github.BrycensRanch.SnapX
Terminal=false
Type=Application
GenericName=Screenshot tool & sharing tool
Categories=ScreenCapture;Graphics;Utility;Productivity
StartupNotify=true
Keywords=ShareX;sharenix;sharexen;share;imgur;ocr;ftp;gif;screenshot
MimeType=image/png;image/jpeg;image/jpg;image/gif;image/tiff;image/bmp;image/x-raw;video/mp4;video/x-msvideo;video/x-flv;video/webm;application/zip;application/x-7z-compressed;application/x-sxcu;video/x-matroska;
Actions=uploadWithSnapX
X-KDE-Priority=TopLevel
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2

[Desktop Action uploadWithSnapX]
Name=Upload with SnapX
Icon=io.github.BrycensRanch.SnapX
Exec=snapx-ui %U
